.homepage {
  min-height: calc(100vh - 50px);

  h1 {
    padding-left: 10px;
  }

  table {
    border-collapse: collapse;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;

    thead,
    tr,
    th {
      border: 1px solid black;
      tr {
        th {
          background-color: yellowgreen;
          color: white;
          font-size: 18px;
          height: 28px;
        }
      }

      .order-no {
        width: 5%;
      }

      .item-name {
        width: 35%;
      }

      .item-stock {
        width: 10%;
      }

      .item-sell-amount {
        width: 10%;
      }

      .item-transaction-date {
        width: 15%;
      }

      .item-type {
        width: 15%;
      }

      .action {
        width: 8%;
      }
    }

    tbody {
      tr {
        height: 25px;
        font-size: 16px;

        td {
          text-align: center;
          border: 1px solid black;

          .data-action {
            display: flex;
            justify-content: center;
            gap: 10px;
            font-size: 18px;
            opacity: 0.5;
          }
        }

        .data-name {
          text-align: left;
          padding-left: 10px;
        }
      }
    }
  }
}
