.addSalePage {
  h1 {
    margin-left: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 50%;

    input {
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid black;
    }

    button {
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid black;
      background-color: yellowgreen;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background-color: green;
      }
    }
  }
}
